@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <p class="lead">Laboratorio Numero 2 De Estructura de Datos I</p>
    <h6>Luis Chuta 1320016</h6>
    <h6>Ricardo Chian 1320016</h6>
    @Html.ActionLink("Arbol Paises", "Index", "Arbol", null, new
{
    id = "OT",

    style = "color: magenta"
})
    
    @Html.ActionLink("Arbol String", "Index", "String", null, new
{
    id = "OT",

    style = "color: magenta"
})
    @Html.ActionLink("Arbol Enteros", "Index", "Int", null, new
{
    id = "OT",

    style = "color: magenta"
})
    @*<p><a href="Arbol/Index" class="btn btn-primary btn-lg">Ver Json &raquo;</a></p>*@
</div>

